<div>

  <div class='level'>
  <mat-form-field>
    <mat-label value='0'>Level</mat-label>
    <mat-select [(value)]='level'>
      <mat-option value='3'>Easy</mat-option>
      <mat-option value='5'>Medium</mat-option>
      <mat-option value='10'>Hard</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <p>
    <mat-checkbox [formControl]="disableSelect">Standard Game (7x6)</mat-checkbox>
  </p>

  <div>
    <mat-form-field>
      <mat-label>Choose an option</mat-label>
      <mat-select [disabled]="disableSelect.value">
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <button (click)='generateGame()' mat-raised-button color="primary">Play</button>
</div>