<div>

  <div class='level'>
  <mat-form-field>
    <mat-label value='0'>Level</mat-label>
    <mat-select [(value)]='level' required>
      <mat-option value='2'>Easy</mat-option>
      <mat-option value='5'>Medium</mat-option>
      <mat-option value='10'>Hard</mat-option>
    </mat-select>
    <mat-error *ngIf='this.level===undefined'>Please Select A Level</mat-error>
  </mat-form-field>
  </div>

  <div class='playerOption'>
    <mat-radio-group aria-label='Select an option'>
      <div>
          <mat-radio-button value=1 (click)='switchPlayer(1)' checked>Player 1</mat-radio-button>
      </div>
      <br>
      <div>
          <mat-radio-button value='2' (click)='switchPlayer(2)'>Player 2</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <p>
    <mat-checkbox [formControl]='disableSelect' (click)='setStandardGame()'>Standard Game (6x7)</mat-checkbox>
  </p>

  <div>
    <mat-form-field>
      <mat-label>Custom Rows</mat-label>
      <mat-select [disabled]='disableSelect.value' required [(value)]='row'>
        <mat-option value='5'>5</mat-option>
        <mat-option value='6'>6</mat-option>
        <mat-option value='7'>7</mat-option>
        <mat-option value='8'>8</mat-option>
        <mat-option value='9'>9</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Custom Columns</mat-label>
      <mat-select [disabled]='disableSelect.value' required [(value)]='column'>
        <mat-option value='5'>5</mat-option>
        <mat-option value='6'>6</mat-option>
        <mat-option value='7'>7</mat-option>
        <mat-option value='8'>8</mat-option>
        <mat-option value='9'>9</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <button (click)='generateGame()' mat-raised-button color="primary">Play</button>
</div>