<ion-header>
  <ion-toolbar>
    <ion-title>
      Connect Four
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div>
      <button (click)='goToPlaySettings()' mat-raised-button color="primary">Play</button>
    </div>

    <br>

    <div>
      <button (click)='goToSettings()' mat-raised-button color="primary">Settings</button>
    </div>

    <br>

    <div>
      <button (click)='goToAbout()' mat-raised-button color="primary">About</button>
    </div>
  </div>
  
</ion-content>
